PLC_SERVER = "plc.bsky-sandbox.dev"
APPVIEW_SERVER = "api.bsky-sandbox.dev"

# you will need to change these!!!
HANDLE = "david.dev.retr0.id"
PDS_SERVER = "pds.dev.retr0.id"
DID_PLC = "did:plc:fzgsygoeg2ydv73mlu76o54x" # update with output from create_identity.py

# definitely change this!!!
JWT_ACCESS_SECRET = "281e1a58a26cfbdbddcb183378174604b76bea9ffe6ff658c91cd3530613a829"
PASSWORD = "changeme"
